<h2>Ajouter un nouvel album</h2>
<form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Titre</label>
    <input id="title" formControlName="title" type="text" />
    <div *ngIf="albumForm.get('title')?.invalid && albumForm.get('title')?.touched">
      <p *ngIf="albumForm.get('title')?.hasError('required')">Titre obligatoire</p>
      <p *ngIf="albumForm.get('title')?.hasError('pattern')">Le titre ne doit contenir que des lettres ou des chiffres</p>
    </div>
  </div>

  <div>
    <label for="coverPicture">Photo de couverture</label>
    <input id="coverPicture" formControlName="coverPicture" type="text" />
    <div *ngIf="albumForm.get('coverPicture')?.hasError('minlength') && albumForm.get('coverPicture')?.touched">
      <p>Minimum 5 caractères</p>
    </div>
  </div>

  <button type="submit" [disabled]="albumForm.invalid">Ajouter</button>
</form>
